<div>
    <ul class="list-group">
        <a type="button" class="btn btn-dark" href="/home/customers/all">Customers</a>
        <a type="button" class="btn btn-dark" href="/expenseTypes/all">Expenses</a>
    </ul>
</div>